In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rowData = pd.read_csv("bodyPerformance.csv")

In [3]:
rowData.head(5)

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [4]:
rowData.isnull().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [5]:
rowData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

* type of the gender(used for prediction) and the class is changed for ML
## Arrange the columns for prediction

In [6]:
rowData["class"].unique()

array(['C', 'A', 'B', 'D'], dtype=object)

In [7]:
data = rowData.copy()
data.loc[data["class"] == "D","class"] = 1
data.loc[data["class"] == "C","class"] = 2
data.loc[data["class"] == "B","class"] = 3
data.loc[data["class"] == "A","class"] = 4
data["class"] = data["class"].astype("int")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  int32
dtypes: float64(10), int32(1), object(1)
memory usage: 1.2+ MB

In [8]:
data.head(5)

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,2
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,4
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,2
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,3
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,3

In [9]:
data.isnull().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

## Feature Engineering
## Calculating and Adding BMI

In [10]:
indexData = data.copy()
indexData["BMIndex"] = indexData["weight_kg"] / (indexData["height_cm"]/100)**2
indexData["situation"] = None
indexData.loc[indexData["BMIndex"] < 18.5 , "situation"] = 1 #underweight
indexData.loc[(indexData["BMIndex"] >= 18.5)&(indexData["BMIndex"] < 25) , "situation"] = 2 #normal
indexData.loc[(indexData["BMIndex"] >= 25)&(indexData["BMIndex"] < 30) , "situation"] = 3 #owerweight
indexData.loc[(indexData["BMIndex"] >= 30)&(indexData["BMIndex"] < 35) , "situation"] = 4 #obese
indexData.loc[indexData["BMIndex"] >=35 , "situation"] = 5 #extremely-obese
indexData["situation"] = indexData["situation"].astype("int")
indexData.head(15)

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class,BMIndex,situation
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,2,25.344179,3
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,4,20.495868,2
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,2,24.181428,2
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,3,23.349562,2
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,3,22.412439,2
5,36.0,F,165.4,55.40,22.0,64.0,119.0,23.8,21.0,27.0,153.0,3,20.250640,2
6,42.0,F,164.5,63.70,32.2,72.0,135.0,22.7,0.8,18.0,146.0,1,23.540063,2
7,33.0,M,174.9,77.20,36.9,84.0,137.0,45.9,12.3,42.0,234.0,3,25.236997,3
8,54.0,M,166.8,67.50,27.6,85.0,165.0,40.4,18.6,34.0,148.0,2,24.261167,2
9,28.0,M,185.0,84.60,14.4,81.0,156.0,57.9,12.1,55.0,213.0,3,24.718773,2
10,42.0,M,169.2,65.40,19.3,63.0,110.0,43.5,16.0,68.0,211.0,4,22.844257,2
11,57.0,F,153.0,49.00,20.9,69.0,106.0,21.5,30.0,0.0,90.0,1,20.932120,2
12,27.0,F,156.0,53.90,35.5,69.0,116.0,23.1,13.1,28.0,144.0,2,22.148258,2
13,22.0,M,175.7,67.90,11.3,71.0,103.0,52.5,19.2,55.0,232.0,2,21.995116,2
14,24.0,M,181.0,84.40,20.4,80.0,120.0,48.9,7.2,54.0,213.0,2,25.762339,3

In [11]:
indexData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  int32
 12  BMIndex                  13393 non-null  float64
 13  situation                13393 non-null  int32
dtypes: float64(11), int32(2), object(1)
memory usage: 1.3+ MB

## Calculating and Adding Diastolic and Systolic

In [12]:
#For Systolic
indexData["_systolic"] = None
indexData.loc[(indexData["systolic"] >= 120) & (indexData["systolic"] <= 130) , "_systolic"] = 2 #normal
indexData.loc[(indexData["systolic"] < 120) , "_systolic"] = 1 #low
indexData.loc[(indexData["systolic"] > 130) , "_systolic"] = 3 #high
indexData["_systolic"] = indexData["_systolic"].astype("int")

In [13]:
#For Diastolic
indexData["_diastolic"] = None
indexData.loc[(indexData["diastolic"] >= 70) & (indexData["diastolic"] <= 90) , "_diastolic"] = 2 #normal
indexData.loc[(indexData["diastolic"] < 70) , "_diastolic"] = 1 #low
indexData.loc[(indexData["diastolic"] > 90) , "_diastolic"] = 3 #high
indexData["_diastolic"] = indexData["_diastolic"].astype("int")

In [14]:
indexData.head(5)

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class,BMIndex,situation,_systolic,_diastolic
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,2,25.344179,3,2,2
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,4,20.495868,2,2,2
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,2,24.181428,2,3,3
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,3,23.349562,2,3,2
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,3,22.412439,2,2,2

In [15]:
indexData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  float64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  int32
 12  BMIndex                  13393 non-null  float64
 13  situation                13393 non-null  int32
 14  _systolic                13393 non-null  int32
 15  _diastolic               13393 non-null  int32
dtypes: float64(11), int32(4), object(1)
memory usage: 1.4+ MB

## Exporting the Dataset

In [16]:
data.to_csv("bodyPerformance_data.csv",index=False)
indexData.to_csv("bodyPerformance_index.csv",index=False)